.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  z-index: 9999;
}
.modal {
  width: 100%;
  max-width: 600px;
  background: #0a0a0c;
  padding: 50px;
  display: grid;
  place-items: center;
  position: relative;
}
.modalCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modalHolder {
  width: 100%;
  max-width: 290px;
}
.modalHeading {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.modalSlug {
  color: #616161;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.ModalBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 18px;
}
.modalContent {
  display: grid;
  place-items: center;
  cursor: pointer;
}
.modalBtnText {
  color: #a18b3c;
  font-size: 16px;
}
.ModalBtn {
  background: #17171a;
  padding: 12px;
  margin-bottom: 8px;
}
.mintModal {
  max-width: 1000px;
}
@media (max-width: 360px) {
  .modal {
    max-width: 280px;
    padding: 30px;
  }
}
@media all and (max-width: 767px) and (min-width: 320px) {
  .mintModal,
  .modal {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
